<ion-header>

  	<ion-navbar color="primary">
    	<ion-title>{{questionario}}</ion-title>
  	</ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="informacoes != null">
		Informações do seu questionário:
		<br><br>
		<div *ngFor="let q of informacoes.questoes">
			{{q.enunciado}}
			<div *ngFor="let alt of q.alternativas">
				{{alt}}
			</div>
			<br>
		</div>
	</div>
		
	<br><br><br><br>

	<!--button ion-button block (click)="todasAsChaves()">Chaves</button-->
	<!--utton ion-button block (click)="informacao()">informações</button-->


	<ion-footer no-shadow>
			<ion-toolbar position="bottom">
				<button ion-button color="secondary" block (click)="ativarQuestionario()">
					<ion-icon name="checkmark" *ngIf="ativado"></ion-icon>
					Ativar questionario
				</button>
			</ion-toolbar>
		</ion-footer>  
</ion-content>
