
<ion-header>

  	<ion-navbar color="primary">
		<ion-title *ngIf="!logado">AUTENTICAÇÃO</ion-title>
		<ion-title *ngIf="logado">{{email}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="signOut()" *ngIf="logado">SAIR</button>
		</ion-buttons>
  	</ion-navbar>

</ion-header>


<ion-content padding *ngIf="!logado">

	<form #form="ngForm" novalidate *ngIf="!logado">
    	<ion-list>

			<ion-item>
				<ion-label stacked>E-mail</ion-label>
				<ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
			</ion-item>
			<ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
				O campo é obrigatório
			</ion-item>

			<ion-item>
				<ion-label stacked>Senha</ion-label>
				<ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
			</ion-item>
			<ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
				O campo é obrigatório
			</ion-item>

    	</ion-list>

    	<button ion-button block color="primary" [disabled]="!form.form.valid" (click)="signIn()">
      		LOGAR
		</button>
		<br>
		<button ion-button block clear (click)="criarconta()">
      		CRIAR CONTA
		</button>

		<button ion-button block clear (click)="resetarsenha()">
			ESQUECI MINHA SENHA
		</button>
	</form>
	

	
	<!--ion-footer no-shadow>
        <ion-toolbar position="bottom">
            <button ion-button color="danger" block (click)="resetarsenha()">
                ESQUECI MINHA SENHA
            </button>
        </ion-toolbar>
    </ion-footer--> 


</ion-content>

<!--Parte onde já está Logado-->

<ion-content padding *ngIf="logado">

	<ion-label *ngIf="logado">Logado!</ion-label>

	<ion-list>
		
		<button ion-button block (click)="criar_novo_questionario()">
            CRIAR NOVO QUESTIONÁRIO
		</button>
		<br>
			
		<button ion-button block (click)="abrirMeusQuestionarios()">
            VER MEUS QUESTIONÁRIOS
        </button>
		
		
    </ion-list>
</ion-content>
