<ion-header>
    <ion-navbar color="primary">
    	<ion-title>
        	APP JORNALISMO
    	</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding *ngIf="!logado">


	<br *ngIf="!logado">
	
	<ion-list radio-group [(ngModel)]="pessoa" *ngIf="!logado">
		<ion-list-header>
			Quem é você?
		</ion-list-header>

		<ion-item>
			<ion-label>Entrevistador</ion-label>
			<ion-radio value="entrevistador"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Entrevistado</ion-label>
			<ion-radio value="entrevistado"></ion-radio>
		</ion-item>
	</ion-list>

	<br *ngIf="!logado">

	<button ion-button block (click)="prosseguir()" *ngIf="!logado">
		OK
	</button>

	<!-- <button ion-button block (click)="abrirHTTP()">
		HTTP Page
	</button> -->

	<!-- <br *ngIf="!logado">
	<button ion-button block (click)="printar_informacoes()" *ngIf="!logado">INFORMACOES</button> -->

	<!--Quando já está logado-->
	<!-- <ion-label *ngIf="logado">Olá {{email}}!</ion-label> -->

</ion-content>
