<ion-header>

  	<ion-navbar color="primary">
    	<ion-title>PESQUISA</ion-title>
 	</ion-navbar>

</ion-header>


<ion-content padding>

	<!--ion-list radio-group [(ngModel)]="questao1">
		<ion-list-header>
			Participou da formação inicial/continuada que ocorreu antes do início das atividades de orientação de TCC.
		</ion-list-header>

		<ion-item>
			<ion-label>Sim</ion-label>
			<ion-radio value="sim"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Não</ion-label>
			<ion-radio value="nao"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-item>
		<ion-label stacked>Comentários (dificuldades e sugestões)</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item-->

	<!--div *ngIf="informacoes != null">
		Informações do seu questionário:
		<br><br>
		<div *ngFor="let q of informacoes.questoes">
			{{q.enunciado}}
			<div *ngFor="let alt of q.alternativas">
				{{alt}}
			</div>
			<br>
		</div>
	</div-->

	<div *ngIf="informacoes == null">Nenhum questionário foi ativado!</div>

	<br><br><br>
	
	<div *ngIf="informacoes != null">
		
		<ion-list radio-group *ngFor="let q of informacoes.questoes">
			<ion-list-header>
				{{q.enunciado}}
			</ion-list-header>
			
			<ion-item *ngFor="let alt of q.alternativas">
				<ion-label>{{alt}}</ion-label>
				<ion-checkbox></ion-checkbox>
			</ion-item>
			
		</ion-list>
		
		<!--ion-item>
			<ion-label stacked>Comentários (dificuldades e sugestões)</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item-->

	</div>
	
	<button ion-button block>FINALIZAR QUESTIONÁRIO</button>

</ion-content>
