<ion-header>
	<ion-navbar color="primary">
		<ion-title>Pesquisa</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

  	<div *ngIf="informacoes == null">Nenhum questionário foi ativado!</div>


  	<div *ngIf="informacoes != null">
	  
	  	<ion-list radio-group *ngFor="let q of informacoes.questoes">
		  	<ion-list-header text-wrap>
				{{q.enunciado}}
		  	</ion-list-header>
		  
		  	<ion-item *ngFor="let alt of q.alternativas; let i=index">
			  	<ion-label text-wrap>{{alt}}</ion-label>
				<ion-checkbox [(ngModel)]="altMarcadas[i]" (ionChange)="atualizar_informacoes(alt)"></ion-checkbox>
		  	</ion-item>
		  
	  	</ion-list>
	  
		
		
	</div>

  	<!-- <ion-fab right middle>
		<button color="secondary" ion-fab mini (click)="scroll()">
			<ion-icon name="arrow-round-down"></ion-icon>
		</button>
	</ion-fab> -->
	
</ion-content>

<ion-footer no-shadow *ngIf="informacoes != null">
	<ion-toolbar position="bottom">
		<button ion-button block (click)="finalizar_questionario()">FINALIZAR QUESTIONÁRIO</button>
	</ion-toolbar>
</ion-footer>