
<ion-header>

  	<ion-navbar color="primary">
    	<ion-title>Respostas</ion-title>
  	</ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="informacoes != null">
		
		<ion-list *ngFor="let q of informacoes.questoes">
			<ion-list-header>{{q.enunciado}}</ion-list-header>
			<ion-item *ngFor="let i of tudo">
				<ion-label>{{i.marcacao}}: {{i.alt}}</ion-label>
			</ion-item>
		</ion-list>
		
	</div>

	<!-- <button ion-button block (click)="printarInformacoes()">Informacoes</button>
	<button ion-button block (click)="asf()">values</button> -->

	<ion-footer no-shadow>
		<ion-toolbar position="bottom">
			<button ion-button block color="danger" (click)="removerResposta()">
				LIMPAR RESPOSTAS
			</button>
		</ion-toolbar>
	</ion-footer> 

</ion-content>
